
*{
box-sizing: border-box;
padding:0;
margin: 0;
font-family: 'Benne', serif;
}
body{
color: white;
line-height: 1.5;
background-color:rgba(51, 51, 51, 1.00);
overflow-x: hidden;
}
a{
color: #fff;
text-decoration: none;
}
img{
width: 100%;
display:block;
}
ul li{
list-style-type:none;
}
h1,h2,h3,h4,h5,h6,p{
padding:0.6rem 0;
}
P{
  color: black
}
.container{
width: 90vw;
margin:0 auto;
}

@media screen and (min-width:992px) {
.container{
  width: 88vw;
}
}

@media screen and (min-width:1200px) {
.container{
  width: 85vw;
}
}

/* --------------animation-------------------- */
.resize-animation-stopper *{
animation: none !important;
transition: none !important;
}
/* button */
.btn{
  border: none;
  color: white;
  margin: 1rem 0;
  border-radius: 35px;
  background: blue;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease
}
.btn:hover{
  opacity: 0.7;
}

.text{
  font-size: 1.05rem;
  color: #d0d0d0;
  line-height: 1.7;
}

/* title */
.title{
  position: relative;
}
.title > h2{
  font-size: 3rem;
font-family: 'Benne', serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  color: #252525;
}
.title div{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}
.title div h2{
  text-transform: capitalize;
  font-size: 2rem;
font-family: 'Benne', serif;
  font-weight: 800;
}
.container{
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 500px){
  .title > h2{
      font-size: 6rem;
  }
  .title div h2{
      font-size: 3rem;
  }
}

@media screen and (min-width: 992px){
  .container{
      width: 88vw;
  }
}
@media screen and (min-width: 1200px){
  .container{
      width: 85vw;
  }
}
